<!DOCTYPE html>
<html lang="en">
<head>

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title></title>
	<link rel="stylesheet" href="first.page.style.css">
	
</head>
<body>
	<div class="background-image"></div>
	<div class="box-area">
		<header>
			<div class="wrapper">
				<div class="logo">
					<a href="#">Tallinn</a>
				</div>
				<nav>
					<a href="#">History</a>
					<a href="#">Sightseeings</a>
					<a href="#">Services</a>
				</nav>
			</div>
		</header>
		<div class="banner-area">
		</div>
        <div class="content-area">
            <div class="wrapper">
                <h2>Content Area</h2>
            </div>
        </div>
	</div>
</body>
</html>